html {
    width: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
    color: white;
    background-color: silver;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.wrapper {
    text-align: center;
}

.row {
    background-color: dimgray;
}

.model-of-3 {
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 450px;
    text-align: center;
    display: inline-block;
    line-height: 1.5;
}

h1 {
    font-size: 50px;
}

#topbar {
    text-align: left;
    background-color: darkviolet;
    max-width: 100%;
    color: white;
    height: 48px;
    padding-bottom: px;
}

.projecttitle {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    color: white;
}
